<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin_base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Profile</title>

</head>
<body>


<section class="text-center">
	<h1>User Profile Page</h1>

	<th:block th:if="${user != null}">
		<h4>Id: [[${user.userId}]]</h4>
		<h4>Name: [[${user.name}]]</h4>
		<h4>Role: [[${user.role}]]</h4>
	</th:block>

	<th:block th:if="${user == null}">
		<p>User information not available.</p>
	</th:block>

</section>

</body>
</html>